extend layout
block sources
  script(type="application/javascript" src="requirejs/require.js" data-main="scripts/home")
  link(rel="stylesheet", href="css/home.css")
block content
  canvas#game-canvas
