extend layout

block sources
  script(type="application/javascript" src="requirejs/require.js" data-main="scripts/pixelartmain")
  link(rel="stylesheet", href="css/pixelart.css")
  link(rel="stylesheet", href="animate.css/animate.min.css")
  link(rel="stylesheet", href="css/typeahead-patch.css")
  link(rel="stylesheet", href="typeahead.js-bootstrap.css/typeahead.js-bootstrap.css")

block content
  #nav-header.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      a.navbar-brand(href="#") Pixel Artist
  .container-fluid
    .row-fluid.content-container
      .canvas-container
        canvas#pixel-art-canvas
      .control-container.well
        .control-row
          .btn-group.btn-group-justified
            a#hide-grid-button.btn.btn-default(href="#" data-toggle="buttons") Hide Grid
        .control-row
          .btn-group.btn-group-justified(data-toggle="buttons")
            label.btn.btn-default.active
              input(type="radio" name="action" value="set") 
              |Fill
            label.btn.btn-default
              input(type="radio" name="action" value="get")
              |Get Color
            label.btn.btn-default
              input(type="radio" name="action" value="clear")
              |Clear
        .control-row
          .form-inline
            input#pixel-width-input.dimension-input.form-control
            label.control-label.dimension-label Pixels Wide
            input#pixel-height-input.dimension-input.form-control
            label.control-label.dimension-label Pixels Tall
        .control-row
          #pixel-color-preview.color-preview
          .color-controls.form-inline
            label.control-label Pixel Color
            input#pixel-color-input.form-control.color-input
          .float-spacer
        .control-row
          #background-color-preview.color-preview
          .color-controls.form-inline
            label.control-label Backround Color
            input#background-color-input.form-control.color-input
          .float-spacer
        #sprite-save-alert.alert.alert-danger(hidden)
        .control-row
          .input-group
            input#sprite-name-input.form-control
            span.input-group-btn
              #sprite-action-button.btn.btn-primary Load Sprite
              #sprite-action-select.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
                span.caret
              ul.dropdown-menu(role="menu")
                li
                  a#sprite-save-link(href="#") Save Sprite
                li
                  a#sprite-load-link(href="#") Load Sprite
