extend layout

block sources
  link(rel='stylesheet', href='domkit/domkit/css/domkit.css')
  link(rel='stylesheet', href='pixel-editor-icons/styles.css')
  link(rel='stylesheet', href='css/pixeleditor.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto', type='text/css')


block content
  .toolbar-container
    #top-toolbar
      button#active-color-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-active-color
      .toolbar-spacer
      button#default-color-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-default-color
      .toolbar-spacer
      button#tool-select-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-paint-brush
      .toolbar-spacer
      button#undo-button.dk-button.toolbar-button
        .toolbar-icon.icon-undo
      .toolbar-spacer
      button#redo-button.dk-button.toolbar-button
        .toolbar-icon.icon-redo
      .toolbar-spacer
      button#zoom-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-zoom-in
      .toolbar-spacer
      button#trash-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-trash
      .toolbar-spacer

    #bottom-toolbar.toolbar-bottom-attached
      button#load-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-open
      .toolbar-spacer
      button#save-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-save
      .toolbar-spacer
      button#settings-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-settings
      .toolbar-spacer
      button#session-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-login

  .canvas-container
    canvas#pixel-editor-canvas


  .palette-menu-staging-area
    #tool-select-menu.tool-select-menu
      button#select-paint-brush-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-paint-brush.dk-palette-no-transition
      .toolbar-spacer
      button#select-dropper-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-dropper.dk-palette-no-transition
      .toolbar-spacer
      button#select-paint-bucket-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-paint-bucket.dk-palette-no-transition
      .toolbar-spacer
      button#select-eraser-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-eraser.dk-palette-no-transition

    #active-color-select-menu.color-menu
      .color-select-submenu
        .color-select-preview
        .color-select-spacer
        .color-select-text-input
      .color-submenu-divider
      .color-palette-submenu
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer

    #default-color-select-menu.color-menu
      .color-select-submenu
        .color-select-preview
        .color-select-spacer
        .color-select-text-input
      .color-submenu-divider
      .color-palette-submenu
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer

    #trash-confirmation-menu.confirmation-menu
      .confirmation-message.dk-palette-no-transition Are you sure you want to clear the canvas?
      .confirmation-menu-spacer
      .confirmation-select-submenu
        .confirmation-select-spacer
        button#trash-confirm-yes.dk-button.confirmation-button Yes
        .confirmation-select-spacer
        button#trash-confirm-no.dk-button.confirmation-button No
        .confirmation-select-spacer
