extend layout


block sources
  link(rel='stylesheet', href='/pixel-editor-icons/styles.css')
  link(rel='stylesheet', href='/css/pixeleditor.css')
  meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')


block content
  #toolbar.toolbar-container
    #top-toolbar
      button#active-color-button.dk-flat-toggleable-button.toolbar-button
        i.toolbar-icon.toolbar-icon-outlined.icon-active-color
        .dk-tooltip Select active color
      .toolbar-spacer
      button#default-color-button.dk-flat-toggleable-button.toolbar-button
        i.toolbar-icon.toolbar-icon-outlined.icon-default-color
        .dk-tooltip Select background color
      .toolbar-spacer
      button#tool-select-button.dk-flat-toggleable-button.toolbar-button
        i.toolbar-icon.icon-paintbrush
        .dk-tooltip Select editing tool
      .toolbar-spacer
      button#undo-button.dk-flat-button.toolbar-button.dk-disabled
        i.small-toolbar-icon.icon-undo
        .dk-tooltip Undo last action
      .toolbar-spacer
      button#redo-button.dk-flat-button.toolbar-button.dk-disabled
        i.small-toolbar-icon.icon-redo
        .dk-tooltip Redo last action
      .toolbar-spacer
      button#trash-button.dk-flat-toggleable-button.toolbar-button
        i.toolbar-icon.icon-trash
        .dk-tooltip Clear editor canvas
      .toolbar-spacer

    #bottom-toolbar.toolbar-bottom-attached
      #load-button.dk-flat-button.toolbar-button
        i.toolbar-icon.icon-open
        input#load-file-input.hidden-file-input(type="file" accept=".json")
        .dk-tooltip Load local JSON sprite
      .toolbar-spacer
      button#save-button.dk-flat-toggleable-button.toolbar-button
        i.toolbar-icon.icon-save
        .dk-tooltip Save local JSON sprite or PNG image
      .toolbar-spacer
      button#settings-button.dk-flat-toggleable-button.toolbar-button
        i.toolbar-icon.icon-settings
        .dk-tooltip Update editor settings

  #canvas-container.canvas-container
    canvas#pixel-editor-canvas.pixel-canvas.hidden


  #staging-area.palette-menu-staging-area
    #tool-select-menu.tool-select-menu
      button#select-paint-brush-button.dk-flat-toggleable-button.toolbar-button
        i.toolbar-icon.icon-paintbrush
        .dk-tooltip (P)aint pixels with active color
      .tool-select-spacer
      button#select-paint-bucket-button.dk-flat-toggleable-button.toolbar-button
        i.toolbar-icon.icon-paint-bucket
        .dk-tooltip (F)ill areas with active color
      .tool-select-spacer
      button#select-dropper-button.dk-flat-toggleable-button.toolbar-button
        i.toolbar-icon.icon-dropper
        .dk-tooltip (G)et active color from canvas
      .tool-select-spacer
      button#select-eraser-button.dk-flat-toggleable-button.toolbar-button
        i.toolbar-icon.icon-eraser
        .dk-tooltip (C)lear pixels
      .tool-select-spacer
      button#select-zoom-button.dk-flat-toggleable-button.toolbar-button
        i.toolbar-icon.icon-zoom-in
        .dk-tooltip (Z)oom on area
      .tool-select-spacer
      button#select-shifter-button.dk-flat-toggleable-button.toolbar-button
        i.toolbar-icon.icon-dragger
        .dk-tooltip (D)rag sprite around canvas

    #active-color-select-menu.color-menu
      .color-select-submenu
        .color-select-preview
        .smu-block-spacer
        input.color-select-text-input(type="text" placeholder="#RRGGBB")
      .smu-inline-block-spacer
      .color-palette-submenu
        .color-palette-row
          .color-palette-color
          .smu-inline-block-spacer
          .color-palette-color
          .smu-inline-block-spacer
          .color-palette-color
          .smu-inline-block-spacer
        .smu-block-spacer
        .color-palette-row
          .color-palette-color
          .smu-inline-block-spacer
          .color-palette-color
          .smu-inline-block-spacer
          .color-palette-color
          .smu-inline-block-spacer
        .smu-block-spacer
        .color-palette-row
          .color-palette-color
          .smu-inline-block-spacer
          .color-palette-color
          .smu-inline-block-spacer
          .color-palette-color
          .smu-inline-block-spacer
        .smu-block-spacer
        .color-palette-row
          .color-palette-color
          .smu-inline-block-spacer
          .color-palette-color
          .smu-inline-block-spacer
          .color-palette-color
          .smu-inline-block-spacer

    #default-color-select-menu.color-menu
      .color-select-submenu
        .color-select-preview
        .smu-block-spacer
        input.color-select-text-input(type="text" placeholder="#RRGGBB")
      .smu-inline-block-spacer
      .color-palette-submenu
        .color-palette-row
          .color-palette-color
          .smu-inline-block-spacer
          .color-palette-color
          .smu-inline-block-spacer
          .color-palette-color
          .smu-inline-block-spacer
        .smu-block-spacer
        .color-palette-row
          .color-palette-color
          .smu-inline-block-spacer
          .color-palette-color
          .smu-inline-block-spacer
          .color-palette-color
          .smu-inline-block-spacer
        .smu-block-spacer
        .color-palette-row
          .color-palette-color
          .smu-inline-block-spacer
          .color-palette-color
          .smu-inline-block-spacer
          .color-palette-color
          .smu-inline-block-spacer
        .smu-block-spacer
        .color-palette-row
          .color-palette-color
          .smu-inline-block-spacer
          .color-palette-color
          .smu-inline-block-spacer
          .color-palette-color
          .smu-inline-block-spacer

    #trash-confirmation-menu.confirmation-menu
      .confirmation-message Clear the canvas?
      .confirmation-button-container
        .confirmation-button-container-center-spacer
        button#trash-confirm-yes.dk-flat-button.confirmation-button YES
        .smu-inline-block-spacer
        button#trash-confirm-no.dk-flat-button.confirmation-button NO

    #save-sprite-menu.save-menu
      .save-message Save visible area as...
      .save-menu-spacer
      label.save-label
        input.save-type-input(type="radio" name="save-type" value="json" checked)
        | Editable JSON Sprite
      label.save-label
        input.save-type-input(type="radio" name="save-type" value="img")
        | PNG Image Sprite
      .save-menu-spacer
      .save-action-submenu
        .save-action-spacer
        a#save-sprite-button.dk-flat-button.save-action-button(download="untitled.json") SAVE
      
    #settings-menu.settings-menu
      .settings-row
        .settings-label Canvas Width
        input#canvas-width-input.settings-dimension-input(type="text")
      .settings-spacer
      .settings-row
        .settings-label Canvas Height
        input#canvas-height-input.settings-dimension-input(type="text")
      .settings-spacer
      label.settings-row
        .settings-label Show Grid
        input#grid-display-input.settings-grid-display-input(type="checkbox" checked)
