extend layout

block sources
  script(type="application/javascript" src="requirejs/require.js" data-main="scripts/pixelartmain")
  link(rel="stylesheet", href="css/pixelart.css")

block content
  #nav-header.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      a.navbar-brand(href="#") Pixel Artist
  .container-fluid
    .row-fluid.content-container
      .canvas-container
        canvas#pixel-art-canvas
      .control-container.well
        .control-row
          .btn-group.btn-group-justified(data-toggle="buttons")
            label.btn.btn-default.active
              input(type="radio" name="action" value="set") 
              |Fill
            label.btn.btn-default
              input(type="radio" name="action" value="get")
              |Get Color
            label.btn.btn-default
              input(type="radio" name="action" value="clear")
              |Clear
        .control-row
          .form-inline
            input#pixel-width-input.dimension-input.form-control
            label.control-label.dimension-label Pixels Wide
            input#pixel-height-input.dimension-input.form-control
            label.control-label.dimension-label Pixels Tall
        .control-row
          .color-preview#pixel-color-preview
          .color-controls.form-inline
            label.control-label Pixel Color
            input#pixel-color-input.form-control.color-input
          .float-spacer
        .control-row
          .color-preview#background-color-preview
          .color-controls.form-inline
            label.control-label Backround Color
            input#background-color-input.form-control.color-input
          .float-spacer
