extend layout

block sources
  link(rel='stylesheet', href='domkit/domkit/css/domkit.css')
  link(rel='stylesheet', href='pixel-editor-icons/styles.css')
  link(rel='stylesheet', href='css/pixeleditor.css')


block content
  .toolbar-container
    #top-toolbar
      button#active-color-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-active-color
      .toolbar-spacer
      button#default-color-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-default-color
      .toolbar-spacer
      button#tool-select-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-paint-brush
      .toolbar-spacer
      button#undo-button.dk-button.toolbar-button
        .toolbar-icon.icon-undo
      .toolbar-spacer
      button#redo-button.dk-button.toolbar-button
        .toolbar-icon.icon-redo
      .toolbar-spacer
      button#zoom-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-zoom-in
      .toolbar-spacer
      button#trash-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-trash
      .toolbar-spacer
    #bottom-toolbar.toolbar-bottom-attached
      button#load-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-open
      .toolbar-spacer
      button#save-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-save
      .toolbar-spacer
      button#settings-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-settings
      .toolbar-spacer
      button#session-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-login
  .canvas-container
    canvas#pixel-editor-canvas
