extend layout

block sources
  link(rel='stylesheet', href='/pixel-editor-icons/styles.css')
  link(rel='stylesheet', href='/css/pixeleditor.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Share+Tech+Mono', type='text/css')


block content
  .toolbar-container
    #top-toolbar
      button#active-color-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.toolbar-icon-outlined.icon-active-color
      .toolbar-spacer
      button#default-color-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.toolbar-icon-outlined.icon-default-color
      .toolbar-spacer
      button#tool-select-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-paint-brush
      .toolbar-spacer
      button#undo-button.dk-button.toolbar-button
        i.small-toolbar-icon.icon-undo
      .toolbar-spacer
      button#redo-button.dk-button.toolbar-button
        i.small-toolbar-icon.icon-redo
      .toolbar-spacer
      button#trash-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-trash
      .toolbar-spacer

    #bottom-toolbar.toolbar-bottom-attached
      button#load-button.dk-button.toolbar-button
        i.toolbar-icon.icon-open
        input#load-file-input.hidden-file-input(type="file" accept=".json")
      .toolbar-spacer
      button#save-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-save
      .toolbar-spacer
      button#settings-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-settings

  .canvas-container
    canvas#pixel-editor-canvas


  .palette-menu-staging-area
    #tool-select-menu.tool-select-menu
      button#select-paint-brush-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-paint-brush.dk-palette-no-transition
      .small-tool-select-spacer
      button#select-paint-bucket-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-paint-bucket.dk-palette-no-transition
      .large-tool-select-spacer
      button#select-dropper-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-dropper.dk-palette-no-transition
      .large-tool-select-spacer
      button#select-eraser-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-eraser.dk-palette-no-transition
      .large-tool-select-spacer
      button#select-zoom-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-zoom-in.dk-palette-no-transition
      .small-tool-select-spacer
      button#select-crop-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.dk-palette-no-transition C

    #active-color-select-menu.color-menu
      .color-select-submenu
        .color-select-preview
        .color-select-spacer
        input.color-select-text-input(type="text" placeholder="#RRGGBB")
      .color-submenu-divider
      .color-palette-submenu
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer

    #default-color-select-menu.color-menu
      .color-select-submenu
        .color-select-preview
        .color-select-spacer
        input.color-select-text-input(type="text" placeholder="#RRGGBB")
      .color-submenu-divider
      .color-palette-submenu
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer

    #trash-confirmation-menu.confirmation-menu
      .confirmation-message Are you sure you want to clear the canvas?
      .confirmation-menu-spacer
      .confirmation-select-submenu
        button#trash-confirm-yes.dk-button.confirmation-button Yes
        .confirmation-select-spacer
        button#trash-confirm-no.dk-button.confirmation-button No

    #save-sprite-menu.save-menu
      .save-message Save visible area as...
      .save-menu-spacer
      label.save-label
        input.save-type-input(type="radio" name="save-type" value="json" checked)
        | Editable JSON Sprite
      label.save-label
        input.save-type-input(type="radio" name="save-type" value="img")
        | PNG Image Sprite
      .save-menu-spacer
      .save-action-submenu
        .save-action-spacer
        button#save-sprite-button.dk-button.save-action-button Save Sprite
      
    #settings-menu.settings-menu
      .settings-row
        .settings-label Canvas Width
        input#canvas-width-input.settings-dimension-input(type="text")
      .settings-spacer
      .settings-row
        .settings-label Canvas Height
        input#canvas-height-input.settings-dimension-input(type="text")
      .settings-spacer
      label.settings-row
        .settings-label Show Grid
        input#grid-display-input.settings-grid-display-input(type="checkbox" checked)
