extend layout

block sources
  link(rel='stylesheet', href='pixel-editor-icons/styles.css')
  link(rel='stylesheet', href='css/pixeleditor.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Share+Tech+Mono', type='text/css')


block content
  .toolbar-container
    #top-toolbar
      button#active-color-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.toolbar-icon-outlined.icon-active-color
      .toolbar-spacer
      button#default-color-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.toolbar-icon-outlined.icon-default-color
      .toolbar-spacer
      button#tool-select-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-paint-brush
      .toolbar-spacer
      button#undo-button.dk-button.toolbar-button
        .small-toolbar-icon.icon-undo
      .toolbar-spacer
      button#redo-button.dk-button.toolbar-button
        .small-toolbar-icon.icon-redo
      .toolbar-spacer
      button#trash-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-trash
      .toolbar-spacer

    #bottom-toolbar.toolbar-bottom-attached
      button#load-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-open
      .toolbar-spacer
      button#save-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-save
      .toolbar-spacer
      button#settings-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-settings
      .toolbar-spacer
      button#session-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-login

  .canvas-container
    canvas#pixel-editor-canvas


  .palette-menu-staging-area
    #tool-select-menu.tool-select-menu
      button#select-paint-brush-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-paint-brush.dk-palette-no-transition
      .small-tool-select-spacer
      button#select-paint-bucket-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-paint-bucket.dk-palette-no-transition
      .large-tool-select-spacer
      button#select-dropper-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-dropper.dk-palette-no-transition
      .large-tool-select-spacer
      button#select-eraser-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-eraser.dk-palette-no-transition
      .large-tool-select-spacer
      button#select-zoom-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.icon-zoom-in.dk-palette-no-transition
      .small-tool-select-spacer
      button#select-crop-button.dk-toggleable-button.toolbar-button
        .toolbar-icon.dk-palette-no-transition

    #active-color-select-menu.color-menu
      .color-select-submenu
        .color-select-preview
        .color-select-spacer
        input.color-select-text-input(type="text" placeholder="#RRGGBB")
      .color-submenu-divider
      .color-palette-submenu
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer

    #default-color-select-menu.color-menu
      .color-select-submenu
        .color-select-preview
        .color-select-spacer
        input.color-select-text-input(type="text" placeholder="#RRGGBB")
      .color-submenu-divider
      .color-palette-submenu
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer

    #trash-confirmation-menu.confirmation-menu
      .confirmation-message.dk-palette-no-transition Are you sure you want to clear the canvas?
      .confirmation-menu-spacer
      .confirmation-select-submenu
        button#trash-confirm-yes.dk-button.confirmation-button Yes
        .confirmation-select-spacer
        button#trash-confirm-no.dk-button.confirmation-button No

    #load-sprite-menu.file-menu
      .file-list
        .file-list-entry submersible-pitch-170-yaw-0
        .file-list-entry submersible-pitch-150-yaw-0
        .file-list-entry.selected-file-list-entry submersible-pitch-130-yaw-0
        .file-list-entry submersible-pitch-110-yaw-0
        .file-list-entry submersible-pitch-90-yaw-0
        .file-list-entry submersible-pitch-70-yaw-0
        .file-list-entry submersible-pitch-50-yaw-0
        .file-list-entry submersible-pitch-30-yaw-0
        .file-list-entry submersible-pitch-10-yaw-0
        .file-list-entry submersible-pitch-170-yaw-20
        .file-list-entry submersible-pitch-150-yaw-20
        .file-list-entry submersible-pitch-130-yaw-20
        .file-list-entry submersible-pitch-110-yaw-20
        .file-list-entry submersible-pitch-90-yaw-20
        .file-list-entry submersible-pitch-70-yaw-20
        .file-list-entry submersible-pitch-50-yaw-20
        .file-list-entry submersible-pitch-30-yaw-20
        .file-list-entry submersible-pitch-10-yaw-20
        .file-list-entry submersible-pitch-170-yaw-neg20
        .file-list-entry submersible-pitch-150-yaw-neg20
        .file-list-entry submersible-pitch-130-yaw-neg20
        .file-list-entry submersible-pitch-110-yaw-neg20
        .file-list-entry submersible-pitch-90-yaw-neg20
        .file-list-entry submersible-pitch-70-yaw-neg20
        .file-list-entry submersible-pitch-50-yaw-neg20
        .file-list-entry submersible-pitch-30-yaw-neg20
        .file-list-entry submersible-pitch-10-yaw-neg20
        .file-list-entry
      .file-menu-spacer
      input.file-name-input(type="text" placeholder="sprite name")
      .file-menu-spacer
      .file-action-submenu
        .file-action-spacer
        button#load-sprite-button.dk-button.file-menu-button Load Sprite
        .file-action-spacer
      
    #save-sprite-menu.file-menu
      .file-list
        .file-list-entry submersible-pitch-170-yaw-0
        .file-list-entry submersible-pitch-150-yaw-0
        .file-list-entry.selected-file-list-entry submersible-pitch-130-yaw-0
        .file-list-entry submersible-pitch-110-yaw-0
        .file-list-entry submersible-pitch-90-yaw-0
        .file-list-entry submersible-pitch-70-yaw-0
        .file-list-entry submersible-pitch-50-yaw-0
        .file-list-entry submersible-pitch-30-yaw-0
        .file-list-entry submersible-pitch-10-yaw-0
        .file-list-entry submersible-pitch-170-yaw-20
        .file-list-entry submersible-pitch-150-yaw-20 .file-list-entry submersible-pitch-130-yaw-20
        .file-list-entry submersible-pitch-110-yaw-20
        .file-list-entry submersible-pitch-90-yaw-20
        .file-list-entry submersible-pitch-70-yaw-20
        .file-list-entry submersible-pitch-50-yaw-20
        .file-list-entry submersible-pitch-30-yaw-20
        .file-list-entry submersible-pitch-10-yaw-20
        .file-list-entry submersible-pitch-170-yaw-neg20
        .file-list-entry submersible-pitch-150-yaw-neg20
        .file-list-entry submersible-pitch-130-yaw-neg20
        .file-list-entry submersible-pitch-110-yaw-neg20
        .file-list-entry submersible-pitch-90-yaw-neg20
        .file-list-entry submersible-pitch-70-yaw-neg20
        .file-list-entry submersible-pitch-50-yaw-neg20
        .file-list-entry submersible-pitch-30-yaw-neg20
        .file-list-entry submersible-pitch-10-yaw-neg20
        .file-list-entry
      .file-menu-spacer
      input.file-name-input(type="text" placeholder="sprite name")
      .file-menu-spacer
      .file-action-submenu
        .file-action-spacer
        button#save-sprite-button.dk-button.file-menu-button Save Sprite
        .file-action-spacer
      
    #settings-menu.settings-menu
      .settings-row
        .settings-label Canvas Width
        input.settings-dimension-input(type="text")
      .settings-spacer
      .settings-row
        .settings-label Canvas Height
        input.settings-dimension-input(type="text")
      .settings-spacer
      .settings-row
        .settings-label Show Grid
        input.settings-grid-display-input(type="checkbox" checked)

    #logout-confirmation-menu.confirmation-menu
      .confirmation-message.dk-palette-no-transition Are you sure you want to logout?
      .confirmation-menu-spacer
      .confirmation-select-submenu
        button#logout-confirm-yes.dk-button.confirmation-button Yes
        .confirmation-select-spacer
        button#logout-confirm-no.dk-button.confirmation-button No
