extend layout


block sources
  link(rel='stylesheet', href='/pixel-editor-icons/styles.css')
  link(rel='stylesheet', href='/css/pixeleditor.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Share+Tech+Mono', type='text/css')
  meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')


block content
  #toolbar.toolbar-container
    #top-toolbar
      button#active-color-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.toolbar-icon-outlined.icon-active-color
        .dk-tooltip Select active color
      .toolbar-spacer
      button#default-color-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.toolbar-icon-outlined.icon-default-color
        .dk-tooltip Select background color
      .toolbar-spacer
      button#tool-select-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-paint-brush
        .dk-tooltip Select editing tool
      .toolbar-spacer
      button#undo-button.dk-button.toolbar-button
        i.small-toolbar-icon.icon-undo
        .dk-tooltip Undo last action
      .toolbar-spacer
      button#redo-button.dk-button.toolbar-button
        i.small-toolbar-icon.icon-redo
        .dk-tooltip Redo last action
      .toolbar-spacer
      button#trash-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-trash
        .dk-tooltip Clear editor canvas
      .toolbar-spacer

    #bottom-toolbar.toolbar-bottom-attached
      #load-button.dk-button.toolbar-button
        i.toolbar-icon.icon-open
        input#load-file-input.hidden-file-input(type="file" accept=".json")
        .dk-tooltip Load local JSON sprite
      .toolbar-spacer
      button#save-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-save
        .dk-tooltip Save local JSON sprite or PNG image
      .toolbar-spacer
      button#settings-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-settings
        .dk-tooltip Update editor settings

  .canvas-container
    canvas#pixel-editor-canvas


  #staging-area.palette-menu-staging-area
    #tool-select-menu.tool-select-menu
      button#select-paint-brush-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-paintbrush
        .dk-tooltip Paints single pixel with active color
      .small-tool-select-spacer
      button#select-paint-bucket-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-paint-bucket
        .dk-tooltip Fills areas with active color
      .large-tool-select-spacer
      button#select-dropper-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-dropper
        .dk-tooltip Sets active color from pixel on canvas
      .large-tool-select-spacer
      button#select-eraser-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-eraser
        .dk-tooltip Clears single pixel
      .large-tool-select-spacer
      button#select-zoom-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-zoom-in
        .dk-tooltip Click and drag to zoom on area
      .small-tool-select-spacer
      button#select-shifter-button.dk-toggleable-button.toolbar-button
        i.toolbar-icon.icon-dragger
        .dk-tooltip Click and drag to shift pixels

    #active-color-select-menu.color-menu
      .color-select-submenu
        .color-select-preview
        .color-select-spacer
        input.color-select-text-input(type="text" placeholder="#RRGGBB")
      .color-submenu-divider
      .color-palette-submenu
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer

    #default-color-select-menu.color-menu
      .color-select-submenu
        .color-select-preview
        .color-select-spacer
        input.color-select-text-input(type="text" placeholder="#RRGGBB")
      .color-submenu-divider
      .color-palette-submenu
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
        .color-palette-row-spacer
        .color-palette-row
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer
          .color-palette-color
          .color-palette-spacer

    #trash-confirmation-menu.confirmation-menu
      .confirmation-message Are you sure you want to clear the canvas?
      .confirmation-menu-spacer
      .confirmation-select-submenu
        button#trash-confirm-yes.dk-button.confirmation-button Yes
        .confirmation-select-spacer
        button#trash-confirm-no.dk-button.confirmation-button No

    #save-sprite-menu.save-menu
      .save-message Save visible area as...
      .save-menu-spacer
      label.save-label
        input.save-type-input(type="radio" name="save-type" value="json" checked)
        | Editable JSON Sprite
      label.save-label
        input.save-type-input(type="radio" name="save-type" value="img")
        | PNG Image Sprite
      .save-menu-spacer
      .save-action-submenu
        .save-action-spacer
        a#save-sprite-button.dk-button.save-action-button(download="untitled.json") Save Sprite
      
    #settings-menu.settings-menu
      .settings-row
        .settings-label Canvas Width
        input#canvas-width-input.settings-dimension-input(type="text")
      .settings-spacer
      .settings-row
        .settings-label Canvas Height
        input#canvas-height-input.settings-dimension-input(type="text")
      .settings-spacer
      label.settings-row
        .settings-label Show Grid
        input#grid-display-input.settings-grid-display-input(type="checkbox" checked)
