extend layout
block sources
  link(rel="stylesheet", href="/css/blog.css")
  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" type='text/css')
block content
  #nav-bar.sidebar
    .logo-canvas-container
      canvas#logo-canvas
    .sidebar-spacer
    #nav-menu.nav-menu
      a.nav-entry(href="#") Posts
      .nav-menu-spacer
      .nav-category-title Games
      .nav-category
        a.nav-entry(href="/submersion") Submersion
        a.nav-entry(href="/invaders") Invaders
      .nav-menu-spacer
      .nav-category-title Tools
      .nav-category
        a.nav-entry(href="/pixeleditor") Pixel Editor
  .sidebar-space-placeholder
  #nav-separator.nav-separator
  #main-area.content-container
    block postcontent
