extend layout
block sources
  script(type="application/javascript" src="requirejs/require.js" data-main="scripts/submersion/main")
  link(rel="stylesheet", href="css/invaders.css")
block content
  canvas#game-canvas
