a {
  text-decoration: none;
}
.post-title-container {
  padding: 10px 0px;
}
.post-title {
  margin: 5px 0px;
}
.post-title-link {
  color: #000000;
}
.post-title-link:hover {
  color: #0000bb;
}
.post-tagline {
  margin: 5px 0px;
}
.logo-canvas-container {
  width: 260px;
  height: 260px;
}
.nav-entry {
  display: block;
  vertical-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  height: 36px;
  text-decoration: none;
  color: #000000;
}
.nav-entry:hover {
  color: #0000bb;
}
.nav-category-title {
  vertical-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 22px;
  height: 36px;
}
.nav-category {
  padding-left: 10px;
}
.nav-menu {
  width: 220px;
  padding-left: 40px;
}
.nav-menu-spacer {
  width: 10px;
  height: 10px;
}
.sidebar {
  display: inline-block;
  vertical-align: top;
  width: 260px;
  height: calc(100% -  20px);
  padding: 10px;
}
.sidebar-spacer {
  width: 20px;
  height: 20px;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  height: 100%;
  width: 100%;
}
.nav-separator {
  display: inline-block;
  vertical-align: top;
  left: 280px;
  height: calc(100% -  20px);
  width: 1px;
  background-clip: content-box;
  background-color: #444444;
  padding: 10px 0px;
}
.content-container {
  display: inline-block;
  vertical-align: top;
  width: calc(100% -  321px);
  height: 100%;
  overflow-y: auto;
  padding: 0px 20px;
}
