html {
  height: 100%;
}
body {
  margin: 0px;
  height: 100%;
}
.canvas-container {
  height: calc(100% -  20px);
  overflow: hidden;
  padding: 10px;
}
.toolbar-button {
  width: 100px;
  height: 50px;
}
.toolbar-container {
  padding: 10px;
  width: 100px;
  height: calc(100% -  20px);
  float: left;
}
.toolbar-icon {
  font-size: 36px;
  color: #444444;
}
.toolbar-icon:before {
  position: relative;
  top: 5px;
}
.toolbar-spacer {
  height: 5px;
  width: 5px;
}
.toolbar-bottom-attached {
  position: absolute;
  bottom: 10px;
}
@media (max-height: 620px) {
  .toolbar-bottom-attached {
    position: static;
  }
}
