.color-select-submenu {
  display: inline-block;
  vertical-align: top;
  width: 102px;
  height: 154px;
}
.color-select-preview {
  width: 100px;
  height: 100px;
  border: 1px solid #9f9f9f;
  border-radius: 8px;
  background-color: #FFFF00;
}
.color-select-spacer {
  width: 20px;
  height: 20px;
}
.color-select-text-input {
  width: 100px;
  height: 30px;
  border: 1px solid #9f9f9f;
  border-radius: 8px;
  background-color: #FF00FF;
}
.color-submenu-divider {
  display: inline-block;
  vertical-align: top;
  height: 154px;
  width: 1px;
  background-clip: content-box;
  background-color: #9f9f9f;
  padding: 0px 10px;
}
.color-palette-submenu {
  display: inline-block;
  vertical-align: top;
  width: 113px;
  height: 154px;
}
.color-palette-color {
  display: inline-block;
  width: 29px;
  height: 29px;
  border: 1px solid #9f9f9f;
  border-radius: 8px;
  background-color: #00FFFF;
}
.color-palette-color:hover {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
.color-palette-row {
  height: 31px;
  width: 114px;
}
.color-palette-row-spacer {
  width: 10px;
  height: 10px;
}
.color-palette-spacer {
  display: inline-block;
  width: 10px;
  height: 10px;
}
.color-menu {
  width: 236px;
  height: 154px;
}
.confirmation-menu {
  width: 260px;
  height: 90px;
}
.confirmation-message {
  font-size: 18px;
  width: 260px;
  height: 50px;
  padding: 0px 5px;
}
.confirmation-menu-spacer {
  width: 10px;
  height: 10px;
}
.confirmation-select-spacer {
  display: inline-block;
  vertical-align: top;
  width: 46.666666666666664px;
  height: 30px;
}
.confirmation-select-submenu {
  width: 260px;
  height: 60px;
}
.confirmation-button {
  display: inline-block;
  vertical-align: top;
  font-family: Roboto;
  font-size: 14px;
  width: 60px;
  height: 30px;
}
.toolbar-button {
  width: 100px;
  height: 50px;
}
.toolbar-container {
  padding: 10px;
  width: 100px;
  height: calc(100% -  20px);
  float: left;
}
.toolbar-icon {
  font-size: 36px;
  color: #444444;
}
.toolbar-icon:before {
  position: relative;
  top: 5px;
}
.toolbar-spacer {
  height: 5px;
  width: 5px;
}
.toolbar-bottom-attached {
  position: absolute;
  bottom: 0px;
  padding-bottom: 10px;
}
@media (max-height: 620px) {
  .toolbar-bottom-attached {
    position: static;
  }
}
.tool-select-menu {
  width: 100px;
  height: 215px;
}
html {
  height: 100%;
}
body {
  margin: 0px;
  height: 100%;
  font-family: Roboto;
}
.canvas-container {
  height: calc(100% -  20px);
  overflow: hidden;
  padding: 10px;
}
.palette-menu-staging-area {
  display: none;
}
