.dk-flat-button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  border: none;
  background: none;
  background-color: rgba(153, 153, 153, 0);
  outline: none;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.03333s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.dk-button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  border-radius: 8px;
  border: 1px solid #9f9f9f;
  background: linear-gradient(to bottom, #f0f0f0 0%, #e7e7e7 100%);
  outline: none;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.03333s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.dk-flat-toggleable-button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  border: none;
  background: none;
  background-color: rgba(153, 153, 153, 0);
  outline: none;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.03333s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.dk-toggleable-button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  border-radius: 8px;
  border: 1px solid #9f9f9f;
  background: linear-gradient(to bottom, #f0f0f0 0%, #e7e7e7 100%);
  outline: none;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.03333s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.dk-active-button.dk-button,
.dk-active-button.dk-toggleable-button {
  border-radius: 8px;
  border: 3px solid #6fb1ff;
}
.dk-active-button.dk-flat-button,
.dk-active-button.dk-flat-toggleable-button {
  background-color: rgba(153, 153, 153, 0.3);
}
.dk-pressed-button.dk-button,
.dk-pressed-button.dk-toggleable-button {
  background: linear-gradient(to bottom, #e7e7e7 0%, #f0f0f0 100%);
}
.dk-pressed-button.dk-flat-button,
.dk-pressed-button.dk-flat-toggleable-button {
  background-color: rgba(153, 153, 153, 0.5);
}
.dk-button:hover:not(.dk-disabled):not(.dk-pressed-button),
.dk-toggleable-button:hover:not(.dk-disabled):not(.dk-pressed-button) {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
.dk-flat-button:hover:not(.dk-disabled):not(.dk-pressed-button),
.dk-flat-toggleable-button:hover:not(.dk-disabled):not(.dk-pressed-button):not(.dk-active-button) {
  background-color: rgba(153, 153, 153, 0.2);
}
.dk-flat-toggleable-button.dk-active-button:hover:not(.dk-disabled):not(.dk-pressed-button) {
  background-color: rgba(153, 153, 153, 0.4);
}
.dk-palette-disappear-transition {
  transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border-width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), font-size 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
.dk-palette-appear-transition {
  transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border-width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.45s cubic-bezier(0.645, 0.045, 0.355, 1), font-size 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
.dk-palette {
  position: absolute;
}
.dk-palette-menu-container {
  position: absolute;
  background: #f7f7f7;
  border-radius: 8px;
  border: 1px solid #9f9f9f;
  padding: 8px;
}
.dk-palette-menu {
  position: absolute;
}
.dk-palette-anchor-left {
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: 10px solid transparent;
  border-right: 20px solid #f7f7f7;
  border-bottom: 10px solid transparent;
}
.dk-palette-anchor-border-left {
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: 10px solid transparent;
  border-right: 20px solid #9f9f9f;
  border-bottom: 10px solid transparent;
}
.dk-palette-anchor-right {
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: 10px solid transparent;
  border-left: 20px solid #f7f7f7;
  border-bottom: 10px solid transparent;
}
.dk-palette-anchor-border-right {
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: 10px solid transparent;
  border-left: 20px solid #9f9f9f;
  border-bottom: 10px solid transparent;
}
.dk-palette-anchor-top {
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #f7f7f7;
}
.dk-palette-anchor-border-top {
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #9f9f9f;
}
.dk-palette-anchor-bottom {
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: 20px solid #f7f7f7;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.dk-palette-anchor-border-bottom {
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: 20px solid #9f9f9f;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.dk-text-input {
  -webkit-appearance: none;
  border: 1px solid #9f9f9f;
  background: #ffffff;
}
.dk-tooltip {
  position: absolute;
  background-color: #000000;
  color: #FFFFFF;
  padding: 5px;
  display: none;
  pointer-events: none;
}
::-moz-focus-inner {
  border: none;
}
.dk-disabled {
  opacity: 0.5;
}
.dk-spacer {
  width: 10px;
  height: 10px;
}
.default-cursor {
  cursor: default;
}
.crosshair-cursor {
  cursor: crosshair;
}
.zoom-out-cursor {
  cursor: zoom-out;
}
.grab-cursor {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.grabbing-cursor {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.color-select-submenu {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 70px;
  height: 110px;
}
.color-select-preview {
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  border: 1px solid #9f9f9f;
  border-radius: 0px;
}
.color-select-text-input {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Ubuntu Mono';
  font-size: 16px;
  outline: none;
  width: 70px;
  height: 30px;
  border: 1px solid #9f9f9f;
  border-radius: 0px;
  padding: 0px;
}
.color-select-text-input:focus::-webkit-input-placeholder {
  color: transparent;
}
.color-select-text-input:focus::-moz-placeholder {
  color: transparent;
}
.color-palette-submenu {
  box-sizing: border-box;
  display: inline-block;
  width: 110px;
  height: 110px;
}
.color-palette-color {
  box-sizing: border-box;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 0px;
  background-image: none;
}
.color-palette-color.dk-pressed-button {
  background-image: none;
}
.color-palette-row {
  box-sizing: border-box;
  height: 30px;
  width: 110px;
  white-space: nowrap;
}
.color-menu {
  box-sizing: border-box;
  width: 190px;
  height: 110px;
  white-space: nowrap;
}
.confirmation-menu {
  box-sizing: border-box;
  width: 190px;
  height: 60px;
}
.confirmation-message {
  box-sizing: border-box;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  width: 190px;
  height: 30px;
}
.confirmation-button-container {
  box-sizing: border-box;
  align: center;
  width: 150px;
  height: 30px;
  white-space: nowrap;
}
.confirmation-button-container-center-spacer {
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 30px;
}
.confirmation-button {
  vertical-align: top;
  box-sizing: border-box;
  display: inline-block;
  font-family: 'Ubuntu Mono';
  font-size: 20px;
  font-weight: bold;
  width: 70px;
  height: 30px;
  border-radius: 0px;
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('/assets/fonts/UbuntuMono-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('/assets/fonts/UbuntuMono-Bold.ttf');
  font-weight: 700;
}
.toolbar-icon.icon-active-color {
  color: #000000;
}
.toolbar-icon.icon-default-color {
  color: #FFFFFF;
}
.save-menu {
  box-sizing: border-box;
  width: 190px;
  height: 60px;
}
.save-message {
  box-sizing: border-box;
  font-size: 20px;
  width: 190px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
}
.save-button-container {
  box-sizing: border-box;
  width: 190px;
  height: 30px;
}
.save-button-container-center-spacer {
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 30px;
}
.save-button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  line-height: 30px;
  text-align: center;
  font-family: 'Ubuntu Mono';
  font-size: 20px;
  font-weight: bold;
  width: 70px;
  height: 30px;
  border-radius: 0px;
  text-decoration: none;
  color: #000000;
}
.settings-menu {
  width: 110px;
  height: 110px;
}
.settings-dimension-input {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  font-family: 'Ubuntu Mono';
  font-size: 16px;
  text-align: center;
  outline: none;
  width: 40px;
  height: 30px;
  border: 1px solid #9f9f9f;
  border-radius: 0px;
}
.settings-dimension-input::-webkit-outer-spin-button,
.settings-dimension-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.settings-grid-display-input {
  width: 20px;
  height: 20px;
  margin: 5px 10px;
  border: 1px solid #9f9f9f;
  border-radius: 0px;
}
.settings-grid-display-input-container {
  display: inline-block;
  width: 40px;
  height: 30px;
}
.settings-label {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Ubuntu Mono';
  font-size: 20px;
  width: 70px;
  height: 30px;
  line-height: 30px;
}
.settings-row {
  width: 190px;
  height: 30px;
  white-space: nowrap;
}
.smu-block-spacer {
  height: 10px;
  width: 10px;
}
.smu-inline-block-spacer {
  display: inline-block;
  height: 10px;
  width: 10px;
}
.toolbar-button {
  box-sizing: border-box;
  text-align: center;
  width: 70px;
  height: 50px;
  border-radius: 0px;
  padding: 0px;
}
div.toolbar-button {
  padding-top: 2px;
}
.toolbar-container {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  width: 70px;
  height: calc(100% -  20px);
  overflow-y: auto;
}
.toolbar-container::-webkit-scrollbar {
  display: none;
}
.toolbar-icon {
  font-size: 36px;
  color: #444444;
}
.toolbar-icon-outlined {
  -webkit-text-stroke: 1px #9f9f9f;
}
.toolbar-icon:before {
  position: relative;
  top: 5px;
}
.small-toolbar-icon {
  font-size: 31px;
  color: #444444;
}
.small-toolbar-icon:before {
  position: relative;
  top: 3px;
}
.toolbar-bottom-attached {
  position: absolute;
  bottom: 0px;
  padding-bottom: 10px;
}
@media (max-height: 550px) {
  .toolbar-bottom-attached:not(.load-disabled) {
    position: relative;
    padding-bottom: 0px;
  }
}
@media (max-height: 490px) {
  .toolbar-bottom-attached.load-disabled {
    position: relative;
    padding-bottom: 0px;
  }
}
.tool-select-menu {
  width: 70px;
  height: 350px;
}
.dk-tooltip {
  font-family: 'Ubuntu Mono';
  font-size: 16px;
  z-index: 1;
}
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Ubuntu Mono';
  overflow: hidden;
  background-color: #EEEEEE;
}
.canvas-container {
  display: inline-block;
  vertical-align: top;
  height: calc(100% -  20px);
  width: calc(100% -  100px);
  overflow: hidden;
  padding: 10px 10px 10px 0px;
}
.pixel-canvas {
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 1px;
}
.palette-menu-staging-area {
  display: none;
}
.dk-palette-menu-container {
  border: none;
  border-radius: 0px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.hidden-file-input {
  position: absolute;
  top: -1000;
  left: -1000;
  width: 70px;
  height: 50px;
  opacity: 0;
  overflow: hidden;
}
.transparent {
  opacity: 0;
  transition: opacity cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
}
.hide-ios-chrome {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
}
.dk-button .dk-flat-button .dk-toggleable-button .dk-flat-toggleable-button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
}
