@import "constants";
@import "../../../bower_components/domkit/domkit/less/common";
@import "../../../bower_components/domkit/domkit/less/button";


@color-preview-size: (2 * @lgu + @smu);
@color-menu-height: (@color-preview-size + @smu + @lgu);
@color-palette-hover-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
@color-palette-width: (3 * @lgu + 2 * @smu);
@color-menu-width: (@color-preview-size + @color-palette-width + @smu);


.color-select-submenu {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: @color-preview-size;
  height: @color-menu-height;
}


.color-select-preview {
  box-sizing: border-box;
  width: @color-preview-size;
  height: @color-preview-size;
  border: @border-width solid @border-color;
  border-radius: @border-radius;
}


.color-select-text-input {
  box-sizing: border-box;
  text-align: center;
  font-family: @font;
  font-size: @small-font-size;
  outline: none;
  width: @color-preview-size;
  height: @lgu;
  border: @border-width solid @border-color;
  border-radius: @border-radius;
  padding: 0px;
}


.color-select-text-input:focus::-webkit-input-placeholder {
  color: transparent;
}


.color-select-text-input:focus::-moz-placeholder {
  color: transparent;
}


.color-palette-submenu {
  box-sizing: border-box;
  display: inline-block;
  width: @color-palette-width;
  height: @color-menu-height;
}


.color-palette-color {
  box-sizing: border-box;
  display: inline-block;
  width: @lgu;
  height: @lgu;
  border-radius: @border-radius;
  background-image: none;
}


.color-palette-row {
  box-sizing: border-box;
  height: @lgu;
  width: @color-palette-width;
  white-space: nowrap;
}


.color-menu {
  box-sizing: border-box;
  width: @color-menu-width;
  height: @color-menu-height;
  white-space: nowrap;
}
