@import "constants";

@confirmation-message-height: 50px;
@confirmation-message-width: 250px;
@confirmation-message-horizontal-padding: 5px;
@confirmation-menu-width: 
    (@confirmation-message-width +
     2 * @confirmation-message-horizontal-padding);
@confirmation-submenu-element-size: (@confirmation-menu-width / 3);
@confirmation-submenu-spacer-size: (@confirmation-menu-width / 9);
@confirmation-menu-height:
    (@confirmation-message-height + @small-spacer-size +
     @small-input-height);


.confirmation-menu {
  width: @confirmation-menu-width;
  height: @confirmation-menu-height;
}


.confirmation-message {
  font-size: @large-font-size;
  width: @confirmation-message-width;
  height: @confirmation-message-height;
  padding: 0px @confirmation-message-horizontal-padding;
}


.confirmation-menu-spacer {
  width: @small-spacer-size;
  height: @small-spacer-size;
}


.confirmation-select-spacer {
  display: inline-block;
  vertical-align: top;
  width: @confirmation-submenu-spacer-size;
  height: @small-input-height;
}


.confirmation-select-submenu {
  width: @confirmation-menu-width;
  height: @small-input-height;
}


button.confirmation-button {
  display: inline-block;
  vertical-align: top;
  font-family: @font;
  font-size: @small-font-size;
  width: @confirmation-submenu-element-size;
  height: @small-input-height;
  border-radius: @border-radius;
}
