@import "constants";

@save-menu-height: (2 * @lgu);
@save-button-width: (2 * @lgu + @smu);
@save-button-container-width: (2 * @save-button-width + @smu);
@save-button-container-center-spacer-width: 
    ((@default-palette-width - (2 * @save-button-width + @smu)) /  2);


.save-menu {
  box-sizing: border-box;
  width: @default-palette-width;
  height: @save-menu-height;
}


.save-message {
  box-sizing: border-box;
  font-size: @large-font-size;
  width: @default-palette-width;
  height: @lgu;
  line-height: @lgu;
  text-align: center;
  white-space: nowrap;
}


.save-button-container {
  box-sizing: border-box;
  width: @default-palette-width;
  height: @lgu;
}


.save-button-container-center-spacer {
  box-sizing: border-box;
  display: inline-block;
  width: @save-button-container-center-spacer-width;
  height: @lgu;
}

.save-button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  line-height: @lgu;
  text-align: center;
  font-family: @font;
  font-size: @large-font-size;
  font-weight: bold;
  width: @save-button-width;
  height: @lgu;
  border-radius: @border-radius;
  text-decoration: none;
  color: @text-color;
}
