@import "constants";
@import "toolbar";

@tool-select-menu-height: (6 * @toolbar-button-height + 5 * @smu);


.tool-select-menu {
  width: @toolbar-button-width;
  height: @tool-select-menu-height;
}
