@import "constants";
@import "../../../bower_components/domkit/domkit/less/common";


@num-toolbar-buttons: 9;

@toolbar-button-height: @xlgu;
@toolbar-button-width: (2 * @lgu + @smu);
@div-toolbar-button-top-padding: 2px;

@toolbar-icon-size: 36px;
@toolbar-icon-offset: 5px;

@small-toolbar-icon-size: 31px;
@small-toolbar-icon-offset: 3px;

@toolbar-min-height:
    (@num-toolbar-buttons * @toolbar-button-height +
    (@num-toolbar-buttons - 1) * @smu +
    2 * @smu);


.toolbar-button {
  box-sizing: border-box;
  text-align: center;
  width: @toolbar-button-width;
  height: @toolbar-button-height;
  border-radius: @border-radius;
  padding: 0px;
}


div.toolbar-button {
  padding-top: @div-toolbar-button-top-padding;
}


.toolbar-container {
  // Prevent highlight on touch in iOS
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // Prevent selecting buttons in iOS
  -webkit-user-select: none;

  display: inline-block;
  vertical-align: top;
  padding: @smu;
  width: @toolbar-button-width;
  height: @container-height;
  overflow-y: auto;
}


.toolbar-container::-webkit-scrollbar {
  display: none;
};


.toolbar-icon {
  font-size: @toolbar-icon-size;
  color: @icon-color;
}


.toolbar-icon-outlined {
  -webkit-text-stroke: @border-width @border-color;
}


.toolbar-icon:before {
  position: relative;
  top: @toolbar-icon-offset;
}


.small-toolbar-icon {
  font-size: @small-toolbar-icon-size;
  color: @icon-color;
}

.small-toolbar-icon:before {
  position: relative;
  top: @small-toolbar-icon-offset;
}


.toolbar-bottom-attached {
  position: absolute;
  bottom: 0px;
  padding-bottom: @smu;
}


@media (max-height: @toolbar-min-height) {
  .toolbar-bottom-attached {
    position: relative;
    padding-bottom: 0px;
  }
}

