@import "blogcomponents/constants";
@import "blogcomponents/postcontent";
@import "blogcomponents/sidebar";

@nav-separator-width: 1px;
@nav-separator-horizontal-padding: 0px;
@nav-separator-vertical-padding: @sidebar-padding;

@content-container-width-offset:
    (@sidebar-width + @nav-separator-width + 2 * @large-spacer-size);
@content-container-width: calc(~"100% - "@content-container-width-offset);
@content-container-height: calc(~"100% - "(2 * @large-spacer-size));
@content-container-padding-left:
    (@large-spacer-size + @sidebar-width + @nav-separator-width);


html {
  height: 100%;
  width: 100%;
}


body {
  font-family: @font;
  margin: 0px;
  height: 100%;
  width: 100%;
  color: @text-color;
}


.main-link {
  color: @main-link-color;
  text-decoration: none;
}
.main-link:hover {
  color: @main-link-hover-color;
}


.nav-separator {
  display: inline-block;
  vertical-align: top;
  left: @sidebar-width;
  height: @sidebar-height;
  width: @nav-separator-width;
  background-clip: content-box;
  background-color: @text-color;
  padding: @nav-separator-vertical-padding @nav-separator-horizontal-padding;
}


.content-container {
  display: inline-block;
  vertical-align: top;
  width: @content-container-width;
  height: 100%;
  overflow-y: auto;
  padding: 0px @large-spacer-size;
}
