@import "../../bower_components/domkit/domkit/less/domkit";
@import "pixeleditorcomponents/canvascursor";
@import "pixeleditorcomponents/constants";
@import "pixeleditorcomponents/colorselectmenu";
@import "pixeleditorcomponents/confirmationmenu";
@import "pixeleditorcomponents/initialstyles";
@import "pixeleditorcomponents/savemenu";
@import "pixeleditorcomponents/settingsmenu";
@import "pixeleditorcomponents/toolbar";
@import "pixeleditorcomponents/toolselectmenu";
@import "pixeleditorcomponents/tooltip";


@container-width:
    calc(~"100% - "(@toolbar-width + 4 * @toolbar-padding));

@canvas-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
@palette-shadow: 0px 3px 6px 0px rgba(0,0,0,0.50);

html {
  height: 100%;
}


body {
  margin: 0px;
  height: 100%;
  font-family: @font;
  overflow: hidden;
  background-color: #EEEEEE;
}


.canvas-container {
  // Prevent highlight on touch in iOS
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // Prevent selecting buttons in iOS
  -webkit-user-select: none;
  display: relative;
  display: inline-block;
  vertical-align: top;
  height: @container-height;
  width: @container-width;
  overflow: hidden;
  padding: @container-padding;
}


.pixel-canvas {
  // Prevent highlight on touch in iOS
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // Prevent selecting buttons in iOS
  -webkit-user-select: none;
  position: relative;
  box-shadow: @canvas-shadow;
  // workaround for force iOS to render shadow.
  border-radius: 1px;
}


.palette-menu-staging-area {
  display: none;
}


.dk-palette-menu-container {
  border: none;
  border-radius: @border-radius;
  box-shadow: @palette-shadow;
}


.hidden-file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: @toolbar-button-width;
  height: @toolbar-button-height;
  opacity: 0;
}


.hidden {
  display: none;
}
