@import "../../bower_components/domkit/domkit/less/domkit";
@import "pixeleditorcomponents/constants";
@import "pixeleditorcomponents/colorselectmenu";
@import "pixeleditorcomponents/confirmationmenu";
@import "pixeleditorcomponents/toolbar";
@import "pixeleditorcomponents/toolselectmenu";

html {
  height: 100%;
}


body {
  margin: 0px;
  height: 100%;
  font-family: 'Share Tech Mono';
}


.canvas-container {
  height: @container-height;
  overflow: hidden;
  padding: @container-padding;
}


.palette-menu-staging-area {
  display: none;
}

