@import "/bower_components/bootstrap/less/variables.less";

@control-row-tb-margin: 20px;

.vert-fill {
  position: absolute;
  top: @navbar-height;
  left: 0px; 
  right: 0px; 
  bottom: 0px; 
}

.full-height {
  height: 100%;
}

.color-preview {
  float: right;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  margin: 5%;
  border: 1px solid;
  border-color: #555;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #888;
}

.color-controls {
  float: left;
  width: 70%;
  padding: 5%;
}

.control-row {
  margin: @control-row-tb-margin 0px;
}

.control-row-indented {
  margin: @control-row-tb-margin 0px;
  padding: 0% 5%;
}

.dimension-input {
  width: 50%;
}

.dimension-label {
  width: 50%;
  padding-left: 20px;
}
